extends _layouts/master

block body

    // Component name
    h2 Badge
    
    p Use badges are to contain and reinforce contextual messaging through the UI to a user.
    
    h3 Component

    .component
        #react-container

    .code
        pre.
             &lt;Badge /&gt;

    .proptype-table
        table
            tr
                th name
                th Required
                th Type
                th Description
            tr
                td prop
                td boolean
                td true
            tr
                td prop
                td integer
                td 8
